# Contents
01 Importing Libraries
02 Joining Datasets Across Years (2015-2019)
03 Consistency Checks
04 Descriptive Statistics
05 Exporting Cleaned & Combined Data Set

# 01 Importing Libraries

In [1]:
# importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
# Folder location string
path = r'C:\Users\ckra9\Documents\CareerFoundry\World Happiness Rankings'

In [3]:
path

'C:\\Users\\ckra9\\Documents\\CareerFoundry\\World Happiness Rankings'

In [4]:
# Importing cleaned individual years as CSV files 
df_2015 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', '2015_clean.csv'), index_col = False)

In [5]:
df_2016 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', '2016_clean.csv'), index_col = False)

In [6]:
df_2017 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', '2017_clean.csv'), index_col = False)

In [7]:
df_2018 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', '2018_clean.csv'), index_col = False)

In [8]:
df_2019 = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', '2019_clean.csv'), index_col = False)

In [9]:
df_2015.describe()

,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
count,158.0,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,2015.0,79.493671,5.375734,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,0.0,45.754363,1.145010,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,2015.0,1.000000,2.839000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,2015.0,40.250000,4.526000,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,2015.0,79.500000,5.232500,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,2015.0,118.750000,6.243750,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,2015.0,158.000000,7.587000,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

# 02 Joining Datasets Across Years (2015-2019)

In [10]:
df_2015.shape

(158, 12)

In [11]:
df_2016.shape

(157, 12)

In [12]:
# Joining 2015 and 2016
df_2015_2016 = pd.merge(df_2015, df_2016, how='outer', on=['Country', 'Region', 'Year', 'Happiness_rank', 'Happiness_score', 'GDP_capita', 'Family', 'Life_expectancy', 'Freedom', 'Gov_trust', 'Generosity', 'Dystopia_residual'])

In [13]:
df_2015_2016.shape

(315, 12)

In [14]:
df_2015_2016.head()

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
0,Afghanistan,Southern Asia,2015,153,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210
1,Albania,Central and Eastern Europe,2015,95,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894
2,Algeria,Middle East and Northern Africa,2015,68,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209
3,Angola,Sub-Saharan Africa,2015,137,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939
4,Argentina,Latin America and Caribbean,2015,30,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600

In [15]:
df_2017.shape

(155, 12)

In [16]:
# Joining (15-16) with 2017
df_15_16_17 = pd.merge(df_2015_2016, df_2017, how='outer', on=['Country', 'Region', 'Year', 'Happiness_rank', 'Happiness_score', 'GDP_capita', 'Family', 'Life_expectancy', 'Freedom', 'Gov_trust', 'Generosity', 'Dystopia_residual'])

In [17]:
df_15_16_17.shape

(470, 12)

In [18]:
df_15_16_17.head()

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
0,Afghanistan,Southern Asia,2015,153,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210
1,Albania,Central and Eastern Europe,2015,95,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894
2,Algeria,Middle East and Northern Africa,2015,68,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209
3,Angola,Sub-Saharan Africa,2015,137,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939
4,Argentina,Latin America and Caribbean,2015,30,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600

In [19]:
df_2018.shape

(156, 11)

In [20]:
# Joining (15-17) with 2018
df_15_16_17_18 = pd.merge(df_15_16_17, df_2018, how='outer', on=['Country', 'Region', 'Year', 'Happiness_rank', 'Happiness_score', 'GDP_capita', 'Family', 'Life_expectancy', 'Freedom', 'Gov_trust', 'Generosity'])

In [21]:
df_15_16_17_18.shape

(626, 12)

In [22]:
df_15_16_17_18.head()

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
0,Afghanistan,Southern Asia,2015,153,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210
1,Albania,Central and Eastern Europe,2015,95,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894
2,Algeria,Middle East and Northern Africa,2015,68,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209
3,Angola,Sub-Saharan Africa,2015,137,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939
4,Argentina,Latin America and Caribbean,2015,30,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600

In [23]:
df_15_16_17_18.tail()

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
621,Venezuela,Latin America and Caribbean,2018,102,4.806,0.996,1.469,0.657,0.133,0.052,0.056,NaN
622,Vietnam,Southeastern Asia,2018,95,5.103,0.715,1.365,0.702,0.618,0.079,0.177,NaN
623,Yemen,Middle East and Northern Africa,2018,152,3.355,0.442,1.073,0.343,0.244,0.064,0.083,NaN
624,Zambia,Sub-Saharan Africa,2018,125,4.377,0.562,1.047,0.295,0.503,0.082,0.221,NaN
625,Zimbabwe,Sub-Saharan Africa,2018,144,3.692,0.357,1.094,0.248,0.406,0.099,0.132,NaN

In [24]:
# Joining (15-18) with 2019
happiness_merge_all_years = pd.merge(df_15_16_17_18, df_2019, how='outer', on=['Country', 'Region', 'Year', 'Happiness_rank', 'Happiness_score', 'GDP_capita', 'Family', 'Life_expectancy', 'Freedom', 'Gov_trust', 'Generosity'])

In [25]:
happiness_merge_all_years.shape

(782, 12)

In [26]:
df_2019.shape

(156, 11)

In [27]:
happiness_merge_all_years.head()

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
0,Afghanistan,Southern Asia,2015,153,3.575,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210
1,Albania,Central and Eastern Europe,2015,95,4.959,0.87867,0.80434,0.81325,0.35733,0.06413,0.14272,1.89894
2,Algeria,Middle East and Northern Africa,2015,68,5.605,0.93929,1.07772,0.61766,0.28579,0.17383,0.07822,2.43209
3,Angola,Sub-Saharan Africa,2015,137,4.033,0.75778,0.86040,0.16683,0.10384,0.07122,0.12344,1.94939
4,Argentina,Latin America and Caribbean,2015,30,6.574,1.05351,1.24823,0.78723,0.44974,0.08484,0.11451,2.83600

# 03 Consistency Checks

In [28]:
# Checking for missing values
happiness_merge_all_years.isnull().sum()

Country                0
Region                 0
Year                   0
Happiness_rank         0
Happiness_score        0
GDP_capita             0
Family                 0
Life_expectancy        0
Freedom                0
Gov_trust              1
Generosity             0
Dystopia_residual    312
dtype: int64

In [29]:
# Creating subset of missing gov_trust value
df_gov_miss = happiness_merge_all_years[happiness_merge_all_years['Gov_trust'].isnull() == True]

In [30]:
df_gov_miss.head()

,Country,Region,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
616,United Arab Emirates,Middle East and Northern Africa,2018,20,6.774,2.096,0.776,0.67,0.284,NaN,0.186,NaN

Chose not to input a value for NaN record

In [34]:
# Checking data types
happiness_merge_all_years.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Country            782 non-null    object
 1   Region             782 non-null    object
 2   Year               782 non-null    int64
 3   Happiness_rank     782 non-null    int64
 4   Happiness_score    782 non-null    float64
 5   GDP_capita         782 non-null    float64
 6   Family             782 non-null    float64
 7   Life_expectancy    782 non-null    float64
 8   Freedom            782 non-null    float64
 9   Gov_trust          781 non-null    float64
 10  Generosity         782 non-null    float64
 11  Dystopia_residual  470 non-null    float64
dtypes: float64(8), int64(2), object(2)
memory usage: 73.4+ KB

In [35]:
# Checking for duplicates
dups = happiness_merge_all_years[happiness_merge_all_years.duplicated()]

In [37]:
dups.head()

Empty DataFrame
Columns: [Country, Region, Year, Happiness_rank, Happiness_score, GDP_capita, Family, Life_expectancy, Freedom, Gov_trust, Generosity, Dystopia_residual]
Index: []

# 04 Descriptive Statistics

In [38]:
happiness_merge_all_years.describe()

,Year,Happiness_rank,Happiness_score,GDP_capita,Family,Life_expectancy,Freedom,Gov_trust,Generosity,Dystopia_residual
count,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,782.000000,781.000000,782.000000,470.000000
mean,2016.993606,78.698210,5.379018,0.916047,1.078392,0.612416,0.411091,0.125436,0.218576,2.092717
std,1.417364,45.182384,1.127456,0.407340,0.329548,0.248309,0.152880,0.105816,0.122321,0.565772
min,2015.000000,1.000000,2.693000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,2016.000000,40.000000,4.509750,0.606500,0.869363,0.440183,0.309768,0.054000,0.130000,1.737975
50%,2017.000000,79.000000,5.322000,0.982205,1.124735,0.647310,0.431000,0.091000,0.201982,2.094640
75%,2018.000000,118.000000,6.189500,1.236187,1.327250,0.808000,0.531000,0.156030,0.278832,2.455575
max,2019.000000,158.000000,7.769000,2.096000,1.644000,1.141000,0.724000,0.551910,0.838075,3.837720

# 05 Exporting Cleaned & Combined Data Set

In [39]:
# Exporting to CSV File
happiness_merge_all_years.to_csv(os.path.join(path, '02 Data','Prepared Data', 'Happiness_merge_all_years.csv'))